<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <header id="header">
        </header>
        <main id="main">
            <section id="title">
            </section>
        </main>
    </body>
</html>
